{% extends "base.html" %}

{% block title %}Equipe - AFGMED{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">Nossa Equipe</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for medico in medicos %}
        <div class="col">
            <div class="card h-100 text-center shadow-sm">
                <div class="card-img-container">
                    <img src="{{ url_for('static', filename='fotos_medicos/' ~ medico.foto) }}"
                         class="card-img-top"
                         alt="{{ medico.nome }}">
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold">{{ medico.nome }}</h5>
                    <p class="text-muted">{{ medico.especialidade }}</p>
                    <p>Email: {{ medico.email }}</p>
                    <p>Telefone: {{ medico.telefone }}</p>

                    {% if current_user.is_admin %}
                    <div class="mt-auto d-grid gap-2">
                        <!-- Editar Médico -->
                        <a href="{{ url_for('editar_medico', id_medico=medico.id) }}" class="btn btn-sm btn-warning">
                            Editar Médico
                        </a>

                        <!-- Remover Médico -->
                        <form action="{{ url_for('remover_medico', id_medico=medico.id) }}" method="post">
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('Deseja realmente remover este médico?');">
                                Remover Médico
                            </button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% else %}
        <p class="text-center">Nenhum médico cadastrado.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}