body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
}

.navbar {
    background-color: #2c3e50;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover {
    color: #3498db;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #3498db;
    border: none;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.text-muted {
    color: #7f8c8d !important;
}

footer {
    background-color: #212c3d;
    color: #fff;
    padding: 40px 20px;
    font-size: 0.9rem;

}

.hero-banner {
    /* Mantenha a URL da sua imagem */
    background-image:  url_for('static', filename='imagens/banner.jpg');
    background-size: cover;

    /* Isso garante que o médico sempre apareça no celular */
    background-position: right center;

    background-repeat: no-repeat;
    min-height: 500px;
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}